body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: 'Lato' !important;
}

.home {
    height: 100vh;
    background: url('../images/monkeys.jpg') no-repeat center center;
    background-size: cover;
}
.homeInfo {
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullName {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 1%;
    -webkit-animation-duration: 1.4s !important;
    -webkit-animation-delay: 1s;
}

.occupation {
    font-size: 3.5em;
    text-align: center;
    margin-top: 2%;
    -webkit-animation-duration: 1.4s !important;
    -webkit-animation-delay: 1s;
}

.fullName, .occupation {
    color: black;

}
.about {
    height: 100vh;
    background: url('../images/background.jpg') no-repeat center center;
    background-size: cover;
}

.aboutTitle {
    text-align: center;
    font-size: 2.5em;
}

.aboutme {
    margin-top: 0;
}

hr {
    width: 20%;
}

.firstParagraph {
    margin-bottom: 2%;
}