body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: 'Lato' !important;
}

.home {
    height: 100vh;
    background: url('../images/monkeys.jpg') no-repeat center center;
    background-size: cover;
}
.homeInfo {
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullName {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 1%;
    -webkit-animation-duration: 1.4s !important;
    -webkit-animation-delay: 1s;
}

.occupation {
    font-size: 3.5em;
    text-align: center;
    margin-top: 2%;
    -webkit-animation-duration: 1.4s !important;
    -webkit-animation-delay: 1.15s;
}

.fullName, .occupation {
    color: black;

}

.navbar {
    margin-bottom: 0 !important;
}

.about {
    height: 100vh;
    /*background: url('../images/background.jpg') no-repeat center center;
    background-size: cover;*/
}

.aboutContent {
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.aboutme {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #2c3d4f;
    letter-spacing: .1em;
}

hr {
    width: 3%;
    border-top: 2px solid #f4a622 !important;
}

.firstParagraph {
    margin-bottom: 2%;
    color: #7e868e;
    font-size: 1.2em;
    font-weight: bold;
}

.secondParagraph {
    color: #7e878e;
    font-size: 1.2em;
}