  .navbar-nav {
      width: 100%;
      text-align: center;
  }
  
  .navbar-nav > li {
      float: none;
      display: inline-block !important;
  }

  #slider {
  	background-color: white;
  }

  ul {
    padding-left: 0;
  }
  ul ul {
    display:none;
    padding-left: 40px;
  }

  .activeList {
    display: block;
  }

  .sideBarSearchInput {
    width: 80%;
    border:0;
    border-bottom: 2px solid;
    outline: none;
    margin-bottom:10px;
    font-size: 45px;
  }

  .sideBarSubList {
    list-style:none;
  }

  .sideBarSubList li, .contactInfo {
    letter-spacing :2px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
  }

  .contactInfo {
    font-size: 45px;
    letter-spacing: 6px;
  }


  .sideBarBoldTitle {
    letter-spacing: 3px;
    font-size:45px;
  }

  .sideBarList li{
    margin-top: 45px;
    margin-bottom: 45px;
  }


  .homeButton, .myaccountButton {
    position:absolute;
    bottom: 0;
    font-size:40px;
    letter-spacing: 6px;
    margin: 10px 35px;
  }

  .homeButton {
    left: 0;
  }

  .myaccountButton {
    right: 0;
  }